/**
 * Optia dark theme for reveal.js.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #00062cff;

$mainColor: #ffffff;
$headingColor: #97c1fbff;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$logo-dark: #063a82;
$logo-light: #97c1fbff;
$logo-accent: #e80754;
$blue: lighten($logo-dark, 30%);
$theme-colors: (
  "blue": $blue,
  "lightblue": $logo-light,
  "magenta": $logo-accent,
  "gradient2": $logo-light,
  "gradient1": $blue,
  "accent": $logo-accent,
  "gray": desaturate($logo-light, 50%),
);

$linkColor: $logo-light;

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Change text colors against dark slide backgrounds
@include light-bg-text-color(#063a82);

linearGradient#linearGradient372817>stop {
  stop-color: $logo-dark;
}

linearGradient#light>stop {
  stop-color: $logo-dark;
}

linearGradient#dark>stop {
  stop-color: $logo-light;
}

linearGradient#medium>stop {
  stop-color: $logo-accent;
}

linearGradient#bg-circle>stop {
  stop-color: $logo-light;
}


box-icon {
  fill: $logo-accent;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
